<p id="notice"><%= notice %></p>

<h1>Wechat</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wechats.each do |wechat| %>
      <tr>
        <td><%= wechat.title %></td>
        <td><%= wechat.text %></td>
        <td><%= link_to 'Show', wechat %></td>
        <td><%= link_to 'Edit', edit_wechat_path(wechat) %></td>
        <td><%= link_to 'Destroy', wechat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_wechat_path %>